@import "../../variables";

.footer {

  .section-wrapper {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    @media screen and (min-width: $sm-bp) {
      gap: 0;
      flex-direction: row;      
    }
  }

  .icons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 0.5rem;


    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: var(--foreground);
      border-radius: 0.25rem;
      border: 1px solid var(--neutral-1);
      padding: 0.5rem;
      position: relative;
      overflow: hidden;        

      &::before {
        content: "";
        background: var(--neutral-1);
        position: absolute;
        border-radius: 100%;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(0);
        z-index: 1;
        transition: 0.5s ease-in-out;
      }

      &:hover::before {
        transform: scale(2);
      }

      svg {
        height: 24px;
        width: 24px;
        z-index: 2;
      }
    }
  }

  .signature {
    flex: 1;
    display: flex;
    
    @media screen and (min-width: $sm-bp) {
        justify-content: flex-end;
    }

    svg {
      height: 48px;

      path {
        fill: var(--foreground);
        stroke: var(--foreground);
        stroke-width: 20px;
      }
    }

  }
}
