.footer {

  .section-wrapper {
    padding-top: 10rem;
    display: flex;
  }

  .icons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px ;


    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: var(--text-color);
      border-radius: 0.25rem;
      border: 1px solid var(--line-color-secondary);
      padding: 0.5rem;
      position: relative;
      overflow: hidden;        

      &::before {
        content: "";
        background: var(--line-color-secondary);
        position: absolute;
        border-radius: 100%;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scale(0);
        z-index: 1;
        transition: 0.3s ease-in-out;
      }

      &:hover::before {
        transform: scale(2);
      }

      svg {
        height: 24px;
        width: 24px;
        z-index: 2;
      }
    }
  }

  .signature {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    svg {
      height: 48px;

      path {
        fill: var(--text-color);
        stroke: var(--text-color);
        stroke-width: 20px;
      }
    }

  }
}
