<div class="section-container">
    <!-- <div class="landing_square_pattern">
        {{ partial "square_pattern.html" . }}
    </div> -->

    <!-- <div class="heading-container">
        <div class="heading">
            My Name is Ankit <div class="dot">Kumar</div>
        </div>
    </div>
    <div class="subheading-container">
        <div class="heading">
            I am Designer + Developer
        </div>
    </div> -->

    <div class="landing-intro">
        <h1 class="landing-intro-heading">
            Hi, I'm Ankit.
        </h1>
        <p class="landing-intro-para">
            I am a curious engineer who loves to explore the latest technologies. 
            I build things for the internet and the web. I have spent half of my 
            life in coding, designing UI/UX, and exploring some of the design patterns.
        </p>
    </div>
    {{ partial "landing_page/landing-page-social.html" . }}
    <!-- <div class='icon-scroll' id="icon-scroll"></div> -->
</div>