<div class="section-container">
    <!-- <div class="landing_square_pattern">
        {{ partial "square_pattern.html" . }}
    </div> -->

    <!-- <div class="heading-container">
        <div class="heading">
            My Name is Ankit <div class="dot">Kumar</div>
        </div>
    </div>
    <div class="subheading-container">
        <div class="heading">
            I am Designer + Developer
        </div>
    </div> -->

    <div class="landing-intro">
        <h1 class="landing-intro-heading">
            Hi, I'm Ankit.
        </h1>
        <p class="landing-intro-para">
            I have spent half of my life coding, designing UI/UX, and exploring new design patterns.
            I don't think I want to stop anytime soon. 
        </p>
    </div>
    {{ partial "landing_page/landing-page-social.html" . }}
    <!-- <div class='icon-scroll' id="icon-scroll"></div> -->
</div>