
<div class="section-container section project-container mt-6">
    <div class="top">
        <div class="section-1">
            <div class="heading-container">
                <h1>Projects</h1>
                <p class="ml-5">Things I have made</p>
            </div>
    
            <div class="project-title-container">
                <h2>Minimal theme for jsdoc</h2>
            </div>
        </div>
        <div class="section-2">
            <img src="./ankdev/static/_gen/images/clean-jsdoc-theme.png" alt="clean-jsdoc-theme-image"/>
        </div>
    </div>
    <div class="bottom">
        <div class="controller fc">
            <div id="project-left" class="fc mrl-2 pointer">
                <svg class="icons">
                    <use xlink:href="#prev"></use>
                </svg>
                <h3>Prev</h3>
            </div>
            <div id="project-right" class="fc mrl-2 pointer">
                <h3>Next</h4>
                <svg class="icons">
                    <use xlink:href="#next"></use>
                </svg>
            </div>
        </div>

        <div class="read-more fc">
            <a href="https://ankdev.me/clean-jsdoc-theme/index.html" class="project-link">Learn more</a>
        </div>

        <div class="desc">
            A beautifully crafted theme/template for JSDoc 3.
        </div>
    </div>
</div>