
<div class="section-container section project-container mt-6">
    <div class="heading-container">
        <h1>Projects</h1>
        <p class="ml-5">Things I have made</p>
    </div>

    <div class="project-list-container">
        <ul class="project-ul">
            {{ range (index .Site.Data.project "projects") }}
            <li class="project-li">
                <h2 class="title">
                    {{ .title }}
                </h2>
                <p class="para">
                    {{ .description }}
                </p>
                {{ if .github }}
                    GitHub: <a href={{.github}} class="link">{{.github}}</a><br>
                {{ end}}
                {{ if .gitlab }}
                    GitLab: <a href={{.gitlab}} class="link">{{.gitlab}}</a><br>
                {{ end}}
                {{ if .npm }}
                    NPM: <a href={{.npm}} class="link">{{.npm}}</a><br>
                {{ end}}
                {{ if .demo }}
                    Live: <a href={{.demo}} class="link">{{.demo}}</a><br>
                {{ end}}
            </li>
            {{ end }}
        </ul>
    </div>
</div>