<div class="section-container">
    <div class="timeline-container">
        <div class="heading-container">
            <h1>Timeline</h1>
            <p>Journey of my life</p>
        </div>
        <div class="timeline-controller-container"> 
            <ul class="timeline-controller-ul">
                <li class="timeline-controller-li" id="timeline-prev">
                    <svg class="timeline-controller-icon" desc="previous">
                        <use xlink:href="#prev"></use>
                    </svg>
                    <span>Prev</span>
                </li>
                <li class="timeline-controller-li" id="timeline-next">
                    <span>Next</span>
                    <svg class="timeline-controller-icon" desc="next">
                        <use xlink:href="#next"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <div id="timeline" draggable="true">
        </div>
    </div>
</div>