<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ankit Kumar</title>
    <link rel="stylesheet" type="text/css" href='/{{ (index .Site.Data.manifest "website.css") }}'>
</head>
<body>
    <div class="body-container">
        {{ partial "navbar.html" . }}

        {{ block "main" . }}
        {{ end }}
        
    </div>
    <script src='/{{ (index .Site.Data.manifest "website.js" ) }}'></script>
</body>
</html>