.project-container{
    display: flex;
    flex-direction: column;

    .top{
        display: flex;
        flex: 1;
        .section-1{
            display: flex;
            flex-direction: column;
            order: 1;
            width: 20rem;

            .project-title-container{
                flex: 1;
                display: flex;
                align-items: center;

                h2{
                    font-size: 3rem;
                    line-height: 1;
                    padding: 1rem;
                    @include themify($themes){
                        background: themed(backgroundColor);
                        color: themed(color);
                    }
                }
            }
        }

        .section-2{
            display: flex;
            order: 2;
            flex: 1;
            padding: 2rem;
            overflow: hidden;
            img{
                object-fit: cover;
            }
        }
    }

    .bottom{
        display: flex;

        .icons{
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;

        }
        .controller{
            order: 1;
            width: 20rem;
        }
        .read-more{
            order: 2;
            flex: 1;
        }

        .desc{
            order: 3;
            width: 20rem;
            background: #fe6225;
            padding: 2rem;
            margin-top: -4rem;
            color: #fff;
        }
    }

    .project-link{
        color: #007bff;
    }
}