.landing_square_pattern{
    position: absolute;
    top: 9rem;
    left: -14.375rem;

    @include themify($themes){
        stroke: themed(strokeColor);
    }
}

@media screen and (max-width: 50em){
    .landing_square_pattern{
        top: 7rem;
        left: -19rem;
    }
}

@media screen and (max-width: 35em){
    .landing_square_pattern{
        top: 0rem;
        left: -22rem;
        display: none;
    }
}