.timeline-container{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;

    #timeline{
        transition: 0.8s;
        transition-timing-function: cubic-bezier(.55,.09,.68,.53);
        display: flex;
        align-items: flex-end;
        padding: 0 2rem;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: transparent;
            z-index: 100;
            cursor: move;
        }
    }

    .timeline-year-ol, .timeline-controller-ul{
        list-style: none;
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .timeline-controller-ul{
        justify-content: flex-end;
    }
    
    .timeline-controller-li{
        display: inline-block;
        margin: 0 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        span{
            padding: 0 0.5rem;
        }
    }

    .timeline-controller-icon{
        height: 18px;
        width: 18px;
        @include themify($themes){
            fill: themed(icon-color);
        }
    }

    .timeline-year-li{
        display: inline-block;
        width: 5rem;
    }

    .timeline-event-div{
        position: absolute;
        display: inline-block;
        line-height: 1.1;

        h4{
            margin-bottom: 0.5rem;
        }

        &.medium{
            background: #ffd369;
            z-index: 2;
        }

        &.low{
            background: #daef9c;
            z-index: 3;
        }

        &.high{
            background: #3fc5f0;
            z-index: 1;
        }

        padding: 0.5rem;
        color: #000;
        width: 16rem;

        &::after{
            content: '';
            position: absolute;
            left: 0.9rem;
            border-right: 0.2rem dashed;
        }

        &::before{
            content: '';
            position: absolute;
            bottom: -1rem;
            border: 0.5rem solid transparent;
            border-top-color: #ffd369;
        }

    }

    .medium.timeline-event-div{
        &::after{
            bottom: -8rem;
            height: 7rem;
            border-right-color: #ffd369;
        }
        &::before{
            border-top-color: #ffd369;
        }
    }

    .high.timeline-event-div{
        &::after{
            bottom: -13rem;
            height: 12rem;
            border-right-color: #3fc5f0;
        }

        &::before{
            border-top-color: #3fc5f0; 
        }
    }

    .low.timeline-event-div{
        &::after{
            bottom: -3rem;
            height: 2rem;
            border-right-color: #daef9c;
        }

        &::before{
            border-top-color: #daef9c;
        }
    }

    .left.timeline-event-div{
        &::after{
            right: 0.875rem;
        }

        &::before{
            right: 0.5rem
        }
    }

    @media screen and (max-width: 35em){
        #timeline{
            transition: 0.5s;

        }
    }

}