@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Color
  --background: #fff;
  --html-background: #eee;
  --logo-fill: #555;
  --text-color: #333;
  --line-color: #fff;
  --line-color-secondary: #eee;
  --selection-color: #111;
  --selection-background: #E6E6FA;

  // Fonts
  --body-font: "Open Sans", system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;
  --heading-font: "Inconsolata", 'Courier New', Courier, monospace;

  // Width
  --section-max-width: 1600px;
}

.dark {
  --background: #222;
  --html-background: #111;
  --logo-fill: #7B42F4;
  --text-color: #aaa;
  --line-color: #222;
  --line-color-secondary: #333;
  --selection-color: #fff;
  --selection-background: #5454ac;
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}


html {
  background: var(--html-background);
  padding: 0.5rem; 
}

body {
  background: var(--background);
  border-radius: 0.5rem;
  line-height: 1.75;
  color: var(--text-color);
}

p {
  font-family: var(--body-font);
}


.section {
  display: flex;
  justify-content: center;
}

.section-wrapper {
  flex: 1;
  max-width: var(--section-max-width);
}

.section-padding {
  padding: 1rem 2rem;
}

.section-border {
  border-top: 1px solid var(--line-color-secondary);
}

.slash {
  font-family: var(--heading-font); 
  font-weight: 400;
}

.slash-heading {
  font-size: 4rem;
}

.slash-subheading {
  font-size: 2rem;
}

.slash-small {
  font-size: 0.75rem;
}

.rel {
  position: relative;
}