<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Ankit Kumar" />
        <meta name="email" content="hello@ankdev.me" />
        <meta name="description" content="This is Ankit's personal website." />
        <title>Ankit Kumar (अंकित कुमार)</title>
        <link
            rel="stylesheet"
            type="text/css"
            href='/{{ (index .Site.Data.url "style.css") }}'
        />

        {{ partial "icons.html" . }}
    </head>

    <body class="body dark" data-theme="dark">
        {{ block "main" . }} {{ end }}

        <script src='/{{ (index .Site.Data.url "main.js" ) }}'></script>
    </body>
</html>
