*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    background: #000;
}

body{
    height: 100%;
    font-family: $font-family;
}

.body-container{
    width: 100%;
    @include themify($themes){
        background: themed('backgroundColor');
        color: themed('color')
    }
    min-height: 100vh;
    padding-top: 4.375rem;
    padding-left: 4.375rem;
}