.footer {
  margin-top: 2rem;
  box-shadow: 0 -0.0625rem 0.0625rem #ccc;
  display: flex;
  padding: 0.625rem 1.25rem;

  .heart {
    fill: #dc3545;
    height: 1rem;
    width: 1rem;
    margin: 0 0.3125rem;
  }

  .p-love {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (max-width: 20rem) {
  .footer {
    flex-direction: column;

    .p-love {
      margin-left: 0;
    }

    p {
      text-align: center;
      justify-content: center;
    }
  }
}
