.landing_square_pattern{
    position: absolute;
    top: 12.5rem;
    left: -9.375rem;

    @include themify($themes){
        stroke: themed(strokeColor);
    }
}

.line_pattern{
    position: absolute;
    @include themify($themes){
        stroke: themed(strokeColor);
    }
}