$themes: (
    light:(
        logoColor: #171717,
        navbarBackgroundColor: #fff,
        navbarRightBorderColor: #ddd,
        backgroundColor: #fff,
        color: #171717,
        welcome-msg-color: #999999,
        subheading-color: #aaa,
        link-color: #006ac1,
        strokeColor: #222,
    ),
    dark:(
        logoColor: #f7f7f7, 
        navbarBackgroundColor: #000,
        navbarRightBorderColor: #333,
        backgroundColor: #000,
        color: #f7f7f7,
        welcome-msg-color: #4c4c4c,
        subheading-color: #999,
        link-color: #007bff,
        strokeColor: #ddd,
    )
)