$themes: (
    light:(
        logoColor: #171717,
        navbarBackgroundColor: #fff,
        navbarRightBorderColor: #ddd,
        backgroundColor: #fff,
        color: #171717,
        text-shade-color: #888,
        welcome-msg-color: #999999,
        welcome-msg-title-color: #d0d0d0,
        icon-color: #000,
        subheading-color: #aaa,
        link-color: #006ac1,
        strokeColor: #222,
    ),
    dark:(
        logoColor: #f7f7f7, 
        navbarBackgroundColor: #000,
        navbarRightBorderColor: #333,
        backgroundColor: #000,
        color: #f7f7f7,
        text-shade-color: #666,
        welcome-msg-color: #4c4c4c,
        welcome-msg-title-color: #252525,
        icon-color: #fff,
        subheading-color: #999,
        link-color: #007bff,
        strokeColor: #ddd,
    )
)