.ank-logo path {
  transition: transform 0.3s;
  transform-origin: 23% 91%;
}

.ank-logo.animation #big {
  animation: ank-logo-big-animation 1s cubic-bezier(0.86, 0, 0.07, 1) infinite
    forwards alternate-reverse;
}

.ank-logo.animation #medium {
  animation: ank-logo-medium-animation 1s cubic-bezier(0.86, 0, 0.07, 1) 0.06s
    infinite forwards alternate-reverse;
}

.ank-logo:hover #big {
  animation: ank-logo-big-animation 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards
    alternate-reverse;
}

.ank-logo:hover #medium {
  animation: ank-logo-medium-animation 1s cubic-bezier(0.86, 0, 0.07, 1) 0.06s 1
    forwards alternate-reverse;
}

@keyframes ank-logo-big-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.47);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ank-logo-medium-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.66);
  }

  100% {
    transform: scale(1);
  }
}
