<div class="bottom-bar">
    <div class="bottom-bar-icons-container">
        {{ range .Site.Data.links.bottomBar }}
        <a target="_blank" href="{{ .link }}" class="icon-button" id="{{ .id }}">
            <svg>
                <use xlink:href="{{ .iconId }}"></use>
            </svg>
        </a>
        {{ end }}
    </div>

    <div class="bottom-bar-right-container">
        <div class="page-title">
            Home
        </div>

        <div class="navigation">
            <button class="icon-button left disabled" id="prev-page">
                <svg>
                    <use xlink:href="#down-icon"></use>
                </svg>
            </button>
            <button class="icon-button right" id="next-page">
                <svg>
                    <use xlink:href="#down-icon"></use>
                </svg>
            </button>

        </div>
    </div>
</div>