<nav class="navbar" id="navbar">
    <div class="navbar-wrapper">
        <div class="logo-c">
            <a href="#home">
                अ
            </a>
        </div>
        <div class="navbar-right-item-container">
            <button class="icon-button theme-toggle" aria-label='toggle-theme'>
                <svg>
                    <use class="theme-svg-use" xlink:href="#light-theme-icon">
                    </use>
                </svg>
            </button>
        </div>
    </div>
</nav>