<div class="page">
    <div class="page-sections">
        <div class="page-left page-padding check-wheel">
            <div class="page-1-intro-c">
                <h1 class="page-1-intro-h">Hi, I'm Ankit Kumar!</h1>
                <p class="page-1-intro-p">
                    I am from Bihar, India. I am very curious person, and my
                    curiosity drove me to establish an IT-based startup in
                    India. <br />
                    Please visit
                    <a href="https://asaan.xyz" class="project-link"
                        >https://asaan.xyz</a
                    >
                    if you want to know more about my startup.
                    <br />
                    <br />
                    My background blends running a startup, designing and
                    developing UI/UX, maintaining a few open-source projects and
                    mentoring junior react developers. I have spent half of my
                    life coding, and I don't think I want to stop anytime soon.
                    <br />
                    <br />
                    I love to break and build things (I am an engineer!).
                    <br />
                    <br />
                    Use the right and left buttons on the bottom bar to navigate
                    through pages.
                    <br />
                    Please use the links on the bottom bar if you want to
                    connect with me.
                </p>
            </div>
        </div>
        <div class="page-right">
            <div class="page-1-img-c fill-svg bg-img">
                {{ partial "bihar.html" . }}
            </div>
        </div>
    </div>
</div>
