<div class="page">

    <div class="page-sections">
        <div class="page-left page-padding">
            <div class="page-1-intro-c">
                <h1 class="page-1-intro-h">
                    Hi, I'm Ankit Kumar
                </h1>
                <p class="page-1-intro-p">
                    I have spent half of my life coding and I don't think I want to stop anytime soon.
                    <br />
                    I love to break and build things (I am an engineer!).
                </p>
            </div>
        </div>
        <div class="page-right">
            <div class="page-1-img-c">
                {{ partial "bihar.html" . }}
            </div>
        </div>
    </div>
</div>