<div class="page" style="display: block">
    <div class="page-sections page-padding check-wheel">
        <div class="page-left">
            <div class="my-projects-c">
                <h6 class="my-project-h">My Projects</h6>

                {{ range .Site.Data.projects.projects }}
                <div class="my-project-desc">
                    <h4>{{ .title }}</h4>
                    <p>{{ .content }}</p>
                    <a target="_blank" href="{{.link}}" class="project-link"
                        >{{.linkTitle}}</a
                    >
                </div>
                {{ end }}
            </div>
        </div>
        <div class="page-right">
            <div class="page-2-img-c fill-svg bg-img">
                {{ partial "pa.html" . }}
            </div>
        </div>
    </div>
</div>
