<div class="section-container">
    <div class="hello-box-container">
        Hello!
    </div>

    <div class="landing_square_pattern">
        {{ partial "square_pattern.html" . }}
    </div>

    <div class="heading-container">
        <div class="heading">
            My Name is Ankit <div class="dot">Kumar</div>
        </div>
    </div>
    <div class="subheading-container">
        <div class="heading">
            I am Designer + Developer
        </div>
    </div>

    <div class="welcome-msg-container">
        <div class="msg">
            
        </div>
    </div>
</div>