<svg xmlns="http://www.w3.org/2000/svg"  width="115.92016mm" height="149.78682mm" viewBox="0 0 115.92016 149.78682" version="1.1" id="svg8" >
    <defs id="square-pattern"/>
    <g transform="translate(-0.85451617,0.0693163)">
      <g id="g847" transform="translate(-27.970238,-40.821429)">
        <path d="M 59.720238,88.357143 Z" style="fill:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/>
        <rect transform="rotate(-45)" y="90.733177" x="-48.118603" height="80.866051" width="80.866051" id="rect819" style="opacity:1;fill:none;fill-opacity:1;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.5, 4;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"/>
        <rect style="opacity:1;fill:none;fill-opacity:1;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.5, 4;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal" id="rect841" width="80.866051" height="80.866051" x="-73.56263" y="114.68053" transform="rotate(-45)"/>
      </g>
    </g>
  </svg>