{{ define "main" }}

    <div class="heading-container">
        <div class="heading">
            My Name is Ankit Kumar
        </div>
    </div>
    <div class="subheading-container">
        <div class="heading">
            I am Designer + Developer
        </div>
    </div>

    <div class="welcome-msg-container">
        <div class="msg">
            I'm a Desinger who is always curious about Design, How it works. I am from India. I am experienced in frontend.
            I love to do experiment related to frontend. I love to design.

            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius sit aut aspernatur ut. Quibusdam nesciunt eius doloremque praesentium, possimus voluptate nulla quod. In sed ex expedita dolor id doloremque?
            In nobis sapiente minima laboriosam excepturi et perspiciatis itaque, totam vel, veritatis dolor esse iusto ea voluptas accusantium eaque. Soluta eos ea asperiores illum fuga neque laborum qui libero blanditiis.
            Minima excepturi dolor, a voluptatem, in fugit doloribus, accusamus ut eos aut quia molestiae nemo consequuntur consectetur iure? Ea, eius? Et dicta illum quasi rerum repellendus, repellat non. Eveniet, voluptatum.
            Deleniti numquam, natus fugiat minus non porro dolore a labore dolorem laboriosam nemo maiores nesciunt repudiandae qui est maxime dolorum voluptatibus commodi aperiam veniam perspiciatis architecto iure magnam aliquam! Rem?
            Suscipit nisi similique consectetur expedita laboriosam, obcaecati sint voluptatum reprehenderit mollitia ipsam, quia omnis magni! Commodi aut natus laboriosam, id temporibus, at libero minus eveniet earum consequuntur eligendi consectetur doloremque.
            Similique dolor modi numquam fugiat nemo recusandae. Quae ipsa suscipit inventore! Laboriosam voluptatem maiores, voluptatibus tempore quia molestias esse accusantium at, magnam aut, quam animi necessitatibus sequi vel? Reiciendis, soluta!
            Enim mollitia illum laudantium, libero incidunt distinctio facere quaerat. Temporibus consequuntur tempore porro autem odio, nesciunt ea quibusdam iure officiis tempora, quo distinctio quis cum magnam! Excepturi asperiores nostrum officiis.
            Fugit eveniet alias provident excepturi, quas, at dolor quasi eaque quaerat magnam, minima ullam ab a. Sunt voluptas officia quod distinctio rerum quos non delectus atque! Impedit non quos corporis.
            Deserunt atque quam nemo enim aliquam. Dolorum culpa possimus molestiae numquam temporibus eaque harum veniam doloribus recusandae facilis repellat eum hic reprehenderit, saepe in deserunt maxime eos itaque exercitationem! Alias?
            Aliquam itaque eum quaerat et optio! Obcaecati, quo maxime animi sint explicabo, atque neque consectetur nobis recusandae et deleniti dignissimos ipsam! Ab consequuntur corrupti modi nostrum beatae atque ipsum sequi.
            Earum nulla beatae ut eveniet quibusdam quo harum, quidem sed quos, magnam in alias, officia nihil provident eligendi cupiditate sunt maxime laboriosam porro itaque nam maiores! Incidunt ullam architecto nihil?
            Vero quos blanditiis error eveniet nemo reprehenderit quibusdam dolore tempore odit, eum quidem natus voluptate maiores perferendis pariatur neque explicabo repellat aliquid a et ipsum. Cumque quae non ratione quos?
            Ducimus nemo hic nesciunt quasi vitae iusto eveniet porro, molestias omnis quas laudantium. Doloremque tempore at cum corrupti dolorum architecto saepe molestias dolor cupiditate explicabo sed quos, adipisci sapiente atque.
            Natus explicabo quod voluptatibus culpa voluptas maiores eveniet, velit ab iste quam expedita odio consequatur obcaecati voluptates beatae at dolorem veniam officia unde totam inventore blanditiis aperiam? Suscipit, tempore obcaecati?
            Beatae enim repudiandae ipsam dolor velit nemo a neque. Eveniet laboriosam, voluptates rem quisquam rerum inventore dolor facilis consequatur error reprehenderit impedit enim, eaque sunt distinctio voluptatum? Quaerat, beatae sequi?
            Accusamus, tempora consectetur tenetur odio, excepturi repellendus qui, aliquam enim minus eveniet minima facilis aliquid suscipit dolore voluptatem voluptatum obcaecati ad maxime magnam officia ratione explicabo labore eligendi beatae. Eos!
            Unde natus, voluptatem repellendus molestias delectus totam quae itaque tempore voluptatibus officiis nobis deleniti iure animi praesentium neque corporis nemo aliquam, quam, necessitatibus dolor eius iste error. Quidem, ducimus nihil?
            Magni in hic modi provident nihil neque odio. Dolore placeat similique laborum minima exercitationem, explicabo consequatur voluptate unde repellat alias incidunt quam obcaecati culpa autem sit. Reiciendis cumque ipsam libero!
            Officiis provident laboriosam nulla repellendus perferendis impedit nobis dignissimos, quo vitae, facilis ipsum nihil! Fugiat odit adipisci asperiores vitae culpa ipsum nulla tenetur ducimus sint ut tempora, voluptatum sapiente quod?
            Ut dignissimos vel non explicabo natus, vero quibusdam ab repellat cum nam recusandae beatae repudiandae. Molestiae eligendi maiores maxime debitis ipsa distinctio aspernatur delectus incidunt enim, accusamus dolores! Voluptatibus, dolore!
            Explicabo, laborum labore suscipit voluptates, tenetur laboriosam debitis consequatur eum aut consequuntur quidem tempora! Possimus unde atque neque dignissimos soluta nobis vitae, maiores sunt consectetur nihil? Earum suscipit excepturi ut!
            Doloribus modi autem, omnis ipsam nostrum provident eum, expedita a labore qui quibusdam ex minus vel cumque placeat quod commodi illum sunt ipsa! Possimus ab sint, quos maiores culpa ratione.
            Excepturi beatae incidunt iure asperiores hic aut optio facilis illo maxime neque et officiis modi quaerat maiores minus quos impedit similique nostrum perferendis, non accusantium! Ipsum iure repellat atque amet?
            Eaque, et! Numquam maxime porro aut assumenda non, ratione officia voluptatibus vel doloremque minima odit amet magnam asperiores aspernatur dolorem perferendis nam consequatur debitis facilis omnis at pariatur delectus. Quidem!
            Culpa sed repellendus possimus, nihil illum quidem dolorum, porro pariatur ut non, laborum eligendi in enim suscipit itaque dolore harum qui. Deserunt unde neque sed autem, beatae nobis obcaecati earum.
            Enim dolorem ad aliquam hic dicta praesentium accusantium commodi explicabo ipsam, laudantium veniam? Temporibus eaque in a, veritatis fugiat non placeat eligendi quis, voluptatem ducimus fugit magni dolor doloribus sint!
            Deleniti quam eaque quis provident mollitia quod eveniet aperiam quos impedit dolorum, in ab, adipisci earum magni iure quo optio. Quod deleniti dolor minus voluptates eius earum praesentium facilis doloribus.
            Esse ratione non voluptatum nesciunt ab. Voluptatem magnam, alias ad vitae velit eveniet quia laboriosam distinctio facilis ratione voluptatum ipsum harum nulla maxime, quis officia officiis eius repudiandae aspernatur itaque!
            Voluptatibus, esse. Adipisci laborum modi hic maxime expedita molestias, incidunt eveniet quasi aspernatur autem quibusdam qui eius eum fugiat optio commodi possimus unde consequatur ullam delectus ab porro quis quaerat!
            Corporis maiores nostrum temporibus velit vitae facere libero nemo in? Earum illo temporibus alias, quae nemo libero. Quas beatae et, accusantium fuga distinctio officia corporis animi adipisci unde id excepturi!
        </div>
    </div>

    <div class="toggle-theme">
        <span class="active" id="dark">Dark</span>
        <span id="light">Light</span>
    </div>
    <div class="contruction-msg">
        Website is under construction
    </div>
{{ end }}