.blog-article blockquote {
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 0.25rem solid var(--color-foreground);
  /*font-family: var(--font-monospace);*/
  font-size: 0.875rem;
  background-color: var(--color-muted);
  line-height: 1.75;
}

.blog-article h2,
.blog-article h3 {
  line-height: 1.5;
  font-weight: bold;
}

.blog-article h2 {
  font-size: 1.5rem;
}

.blog-article h3 {
  font-size: 1.25rem;
}

.blog-article ol {
  list-style: decimal;
  padding-left: 2rem;
}

@media screen and (min-width: 768px) {
  .blog-article ol {
    padding-left: 2.5rem;
  }
}

.blog-article pre {
  /*TODO use something that depends on theme.*/
  background: #0d1a23;
  padding-top: calc(var(--spacing) * 10);
  padding-left: calc(var(--spacing) * 8);
  padding-right: calc(var(--spacing) * 8);
  padding-bottom: calc(var(--spacing) * 2);
  border-radius: var(--radius-lg);
  margin: calc(var(--spacing) * 8) 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: pre;
  position: relative;
}

.blog-article pre.has-linenumber {
  padding-left: 0;
  padding-right: 0;
  color: white;
}

.blog-article pre .highlighted {
  background-color: oklch(from var(--color-muted) l c h / 0.2);
}

/*Table */
.blog-article table {
  width: 100%;
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 0.875rem; /* text-sm */
}

.blog-article thead td {
  text-align: left;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-bottom: none;
  background-color: oklch(from var(--color-muted) l c h / 0.2);
}

.blog-article td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--color-muted);
}

.blog-article tbody tr:hover {
  background-color: oklch(from var(--color-muted) l c h / 0.2);
}

.blog-article tbody tr:last-child td {
  border-bottom: none;
}
