.dark body {
    background: #1a1a1a;
    color: #aaa;
}

.dark .view-wrapper {
    background: #222;
}

.dark .icon-button {
    fill: #aaa;

    &:hover {
        background: #292929;
    }

    &:active {
        background: #333;
    }
}

