/* scroll bar */
.dark ::-webkit-scrollbar-track {
    background: #333;
}

.dark ::-webkit-scrollbar-thumb {
    background: #555;
    outline: 0.06125rem solid #555;
}

.dark body {
    background: #1a1a1a;
    color: #aaa;
}

.dark .tippy-box {
    background: #555;
    color: #eee;
}

.dark .tippy-arrow {
    color: #555;
}

.dark .view-wrapper {
    background: #222;
}

.dark .icon-button {
    fill: #aaa;

    &:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    &:active {
        background: rgba(255, 255, 255, 0.1);
    }

    &.disabled {
        background: rgba(255, 255, 255, 0.3);
    }
}

.dark .bottom-bar {
    background: #2f2f2f;
}

.dark .bottom-bar-right-container {
    background: #292929;
}

.dark .page-1-intr-h {
    color: #aaa;
}

.dark .page-1-intro-p {
    color: #ccc;
}

.dark .fill-svg {
    fill: #262626;
    stroke: #262626;
}

.dark .my-project-h {
    color: #666;
}

.dark .project-link {
    color: #c3b;

    &:hover {
        color: #f4c;
    }
}
