@import './navbar.scss';
@import './bottom-bar.scss';

.body {
    padding: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.view-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 120rem;
    border-radius: 1rem;
}

.page-view-wrapper {
    flex: 1;
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 1rem 2rem;
}
