@import "./navbar.scss";
@import "./bottom-bar.scss";

.body {
    padding: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.view-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 120rem;
    border-radius: 1rem;
}

.page-view-wrapper {
    flex: 1;
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.page-sections {
    display: flex;
    height: 100%;
}

.page-padding {
    padding: 1rem 2rem;
}

.page-left,
.page-right {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex-basis: 50%;
}

.page-1-intro-c {
    margin-top: 4rem;
}

.page-1-intro-h {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.page-1-intro-p {
    line-height: 1.75;
}

.page-1-img-c {
    position: absolute;
    overflow: hidden;
    padding-left: 50%;

    svg {
        height: 100%;
    }
}

.page-2-img-c {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 80%;
        width: auto;
    }
}

.my-projects-c {
    height: 100%;
    overflow: auto;
    margin-top: 2rem;
    position: relative;
}

.my-project-h {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.my-project-desc {
    margin-bottom: 2rem;
    h4 {
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        margin: 0.5rem 0;
        line-height: 1.75;
        max-width: 40rem;
    }
}

@media screen and (max-width: 60em) {
    .body {
        font-size: 0.875rem;
    }

    .page-1-intro-c {
        margin-top: 0;
    }

    .page-1-intro-h {
        font-size: 2rem;
    }

    .page-right {
        display: none;
    }

    .bottom-bar {
        flex-direction: column-reverse;
    }
}
