/* scroll bar */
.light ::-webkit-scrollbar-track {
    background: #eee;
}

.light ::-webkit-scrollbar-thumb {
    background: #aaa;
    outline: 0.06125rem solid #aaa;
}

body.light {
    background: #eee;
    color: #111;
}

.light .tippy-box {
    background: #ddd;
    color: #111;
}

.light .tippy-arrow {
    color: #ddd;
}

.light .view-wrapper {
    background: #fff;
}

.light .icon-button {
    fill: #555;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    &:active {
        background: rgba(0, 0, 0, 0.1);
    }

    &.disabled {
        background: rgba(0, 0, 0, 0.2);
    }
}

.light .bottom-bar {
    background: #ccc;
}

.light .bottom-bar-right-container {
    background: #ddd;
}

.light .page-1-intro-h {
    color: #222;
}

.light .page-1-intro-p {
    color: #555;
}

.light .fill-svg {
    fill: #ddd;
    stroke: #ddd;
}

.light .bg-img.fill-svg {
    fill: #eaeaea;
    stroke: #eaeaea;
}

.light .my-project-h {
    color: #aaa;
}

.light .project-link {
    color: #f00;

    &:hover {
        color: #a00;
    }
}

@media screen and (max-width: 50em) {
    .light ::-webkit-scrollbar-track {
        background: unset;
    }

    .light ::-webkit-scrollbar-thumb {
        background: unset;
        outline: unset;
    }
}
