.navbar-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo-c a {
    font-family: Cambay-Bold;
    font-size: 2rem;
}


.navbar-right-item-container {
    display: flex;
    align-items: center;
}
